Los objetivos del pair programming de hoy son:

Cread tres variables num√©ricas de tipo integer (entero), llamadas de la siguiente forma:

numero1

numero2

numero3

Utilizando los operadores l√≥gicos:

En vuestro caso, es el numero1 mayor que el numero2

Es el numero1 menor que el numero2 pero mayor que el numero3

Es el numero3 igual que el numero2

Es el numero2 distinto que el numero1

Cread dos variables num√©ricas de tipo float (decimal) con dos decimales, llamdas de la siguiente forma:

altura1

altura2

Utilizando los operadores matem√°ticos aprendidos en la lecci√≥n:

Cu√°l es la suma de las dos alturas

Cu√°l es la diferencia entre las alturas

Cu√°l es el resto de la divisi√≥n de las dos alturas

Cu√°l es resultado de la divisi√≥n de las dos alturas, redondead el resultado a un decimal.

Escribid un programa usando la funci√≥n input() que le pregunte al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:

Printead su nombre y apellidos todo en may√∫sculas

Printead su nombre y apellidos todo en min√∫sculas

Printead su nombre y apellidos con la primera letra del nombre y los apellidos en may√∫scula y el resto en min√∫scula.

Printeas solo la primera letra del nombre en may√∫scula.

Escribid un programa usando la funci√≥n input() que:

Le pregunte al usuario por una frase, almacenad este resultado en una variable.

Le pregunte al usuario por una vocal, almacenad este resultado en una variable.

Printead la misma frase pero con la vocal introducida en may√∫sulas.

Escribid un programa usando la funci√≥n input() que:

Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.

Devolved la lista de compra donde veamos cada elemento en una l√≠nea.

üí°Pista

Para indicar salto de l√≠nea usaremos "\n".

Deber√©is usar el m√©todo join de los strings

üìå Output deseado

Copy
resultado_del_input = ["peras", "manzanas", "naranjas"]

# output despu√©s del ejercicio
"peras"
"manzanas"
"naranjas"

In [ ]:
numero1 = 20

numero2 = 10

numero3 = 5

In [ ]:
print(numero1 > numero2)

True

In [ ]:
print(numero1 < numero2
      and numero1 > numero3)

False

In [ ]:
print(numero3 == numero2)

False

In [ ]:
print(numero2 != numero1)

True

In [4]:
altura1= 34
altura2= 45
division= altura1/altura2
print (division)

0.7555555555555555

In [5]:
decimal= round (division,1)
print (decimal)

0.8

In [27]:
nombre= input( 'cual es tu nombre: ')
print  (f"tu nombre es: {nombre}.")

tu nombre es: Andrea.

In [30]:
apellido =input( 'cual es tu apellido: ')
print (f"tu apellido es: {apellido}")

tu apellido es: Gonzalez

In [8]:
nombre_completo= nombre+ ' ' +apellido
print (nombre_completo)

andrea gonzalez

In [9]:
mayuscula= nombre_completo.upper()
print (mayuscula)

ANDREA GONZALEZ

In [10]:
minuscula= nombre_completo.lower()
print(minuscula)

andrea gonzalez

In [11]:
Mayusculaprimero = nombre_completo. title() 
print (Mayusculaprimero)

Andrea Gonzalez

In [12]:
mayusculasegundo = nombre_completo.capitalize()
print (mayusculasegundo)

Andrea gonzalez

In [32]:
frase =  input( 'escribe tu frase favorita: ')
print (f'Frase favorita: {frase}')

Frase favorita: Ma√±ana sera bonito

In [34]:
vocal = input('escribe una vocal: ')
print (f'vocal: {vocal}')

vocal: A

In [35]:
mayusculavocal= vocal.upper ()
mayusculavocal

'A'

In [16]:
Lista_compras= input()
print (Lista_compras)

carne, arroz, leche

In [17]:
Lista_separadas= Lista_compras.split()
print (Lista_separadas)

['carne,', 'arroz,', 'leche']

In [18]:
listado2= ' '.join (Lista_separadas)
print( listado2)

carne, arroz, leche

In [21]:
Listado = listado2.split('\n')
Listado

['carne, arroz, leche']

In [9]:
Lista_comida = ["carne", "arroz", "leche"]
print("\n".join(Lista_comida))

carne
arroz
leche